/*-----------------------------------------------------------------------------------
	Nombre: DISEÑOS DE SITIOS WEB | Fase de Construcción
	URI: 
	Descripcion: Unidad 1 y 2: Fase de Construcción - Crear un OVI en formato WEB con HTML5 y CSS3.
	Autores: Jhonattan Guillermo Rodriguez Rojas - 
-----------------------------------------------------------------------------------*/
body { padding-bottom: 20%; }

.topmargin{
	margin-top: 3%;
}

.topmargin-sm{
	margin-top: 1%;
}

.bottommargin{
	margin-top: 5%;
}

.bottommargin-sm{
	margin-top: 2%;
}

#buscador{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#buscador input{
    border: 0;
    box-shadow: none;
}

#buscador button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#buscador button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#buscador .glyphicon-search{
    font-size: 23px;
}

footer {
	background-color: #333;
	height: 50px;
}

/*-----------------------------------------------------------------------------------
    Nombre: Create A Multi-Level Drop Down Menu with Pure CSS
    URI: https://www.cssscript.com/create-a-multi-level-drop-down-menu-with-pure-css/
    Descripcion: Menu multinivel con CSS
    Autores: https://codepen.io/twodogstar/
-----------------------------------------------------------------------------------*/


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.2em;
  background: #004766;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #004766;
  z-index:900;
}

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { 
    background: #e9b03c; 
    color: #333;
    text-decoration: none;
}

li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a { 
    background: #e9b03c; 
    color: #333;
    
}

li:hover li a:hover { 
    background: #2c3e50; 
    color: #fff;
}

.main-navigation li ul li { border-top: 0; }

ul ul ul {
  left: 100%;
  top: 0;
}

ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }